$cBlack: black;

body {
  text-align: center;
}

.rect {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: $cBlack;
  animation: sk-bouncedelay 1.4s;
  animation-timing-function: ease;
  /* アニメーションが始まるまでの遅延時間 */
  animation-delay: 3s;
  /* アニメーション繰り返し数 　infiniteは無限にループ */
  // animation-iteration-count: 2;
  animation-iteration-count: infinite;
  /* アニメーションの順序　オルタネイトはこの場合from,to→to,fromのように折り返して行われる　*/
  // animation-direction: alternate;
  /* to,from→from, to */
  animation-direction: alternate-reverse;
  /* forwardsはアニメーションが終了した時点のCSSが適応されたまま残る bothは開始時点、終了時点どちらも残す */
  animation-fill-mode: forwards;
  /* アニメーションを途中で止める場合に使う */
  // animation-play-state: paused;

}
.paused {
  animation-play-state: paused;
}

/* アニメーションの途中経過を詳細に設定したい場合は@Keyframesとanimationプロパティを使う 
簡単なやつはtransitionで */
@keyframes sk-bouncedelay {
  /* 0% = from */
  from {
    transform: scale(0);
    background-color: green;
  }

  /* 100% = to */
  to {
    transform: scale(1);
    background-color: red;
  }
}
